.auth-layout-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-app);
  padding: var(--spacing-md);
}

.auth-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

